.container {
    display: block;
    padding-bottom: 30px;
}

div.container#blog {
    box-shadow: #bebebe 1px 1px;
    border-radius: 20px;
    border: #bebebe solid 0.5px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}

img {
    display: block;
    margin: auto;
}

#logo { margin-top: 5em; }
#home { margin-top: 6em; }
.icon { margin-top: 2.5em; }
#logout { position: relative; bottom: -230px; }

#banner {
    width: 60%;
    border-radius: 30px;
}

.buttons { padding-top: 1.5em; }

.tag {
    border-radius: 20px;
    padding: 8px;
    margin-right: 4px;
    display: inline-block;
    color: white;
    background-color: #0475D3;
}

header {
    background-image: url("../assets/header_line.png");
    color: white;
}

header ul li {
    padding-right: 1em;
    font-size: medium;
}

a { color: white; }

.jumbotron {
    background: none;
    margin-bottom: -60px;
}