.navbar-fixed-left + .container { padding-left: 180px; }

.navbar-fixed-left {
    width: 140px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    background-color: #0475D3;
}

img {
    display: block;
    margin: auto;
}

#logo { margin-top: 5em; }
#home { margin-top: 6em; }
.icon { margin-top: 2.5em; }
#logout { position: relative; bottom: -230px; }

.btn.btn-primary { background-color: #0475D3; }

#name, #password, #gender { width: 30%; }
#pfp { width: 210px; }
h1 { font-weight: bold; }

.container {
    padding-left: 40px;
    padding-right: 40px;
}

form { padding-bottom: 10px; }

#pname {
    font-weight: bold;
    color: black;
}